@import '~ui/game/PlayerColors.css';

.DotView {
    --size: 40px;
    --lineWidth: 8px;

    display: inline-block;
    position: relative;
    width: var(--size);
    height: var(--size);
    color: #edf2f7;
    border-left-width: var(--lineWidth);
    border-top-width: var(--lineWidth);
    
    text-align: center;
    line-height: var(--size);
}

.DotView--standard {
    border-style: solid none none solid;
}

.DotView--bottom {
    border-style: solid none none none;
    margin-left: var(--lineWidth);
}

.DotView--right {
    border-style: none none none solid;
}

.DotView--bottomRight {
    border-style: none;
    margin-left: var(--lineWidth);
}

.DotView--topMarkedByPlayer1 {
    border-top-color: var(--playerColor1);
}

.DotView--topMarkedByPlayer2 {
    border-top-color: var(--playerColor2);
}

.DotView--topMarkedByPlayer3 {
    border-top-color: var(--playerColor3);
}

.DotView--topMarkedByPlayer4 {
    border-top-color: var(--playerColor4);
}

.DotView--leftMarkedByPlayer1 {
    border-left-color: var(--playerColor1);
}

.DotView--leftMarkedByPlayer2 {
    border-left-color: var(--playerColor2);
}

.DotView--leftMarkedByPlayer3 {
    border-left-color: var(--playerColor3);
}

.DotView--leftMarkedByPlayer4 {
    border-left-color: var(--playerColor4);
}

.DotView-vertex {
    --size: 12px;
    --location: -10px;

    position: absolute;
    width: var(--size);
    height: var(--size);
    left: var(--location);
    top: var(--location);
    z-index: 100;
    border-radius: 50%;
    border-style: none;
    background-color: #c9cdd1;
}
