@import 'PlayerColors.css';

.DotView {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    color: #edf2f7;
    border-left-width: 8px;
    border-top-width: 8px;
}

.DotView--standard {
    border-style: solid none none solid;
}

.DotView--bottom {
    border-style: none none none solid;
}

.DotView--right {
    border-style: solid none none none;
}

.DotView--bottomRight {
    border-style: none;
}

.DotView--topOwnedByPlayer1 {
    border-top-color: var(--playerColor1);
}

.DotView--topOwnedByPlayer2 {
    border-top-color: var(--playerColor2);
}

.DotView--topOwnedByPlayer3 {
    border-top-color: var(--playerColor3);
}

.DotView--topOwnedByPlayer4 {
    border-top-color: var(--playerColor4);
}

.DotView--leftOwnedByPlayer1 {
    border-left-color: var(--playerColor1);
}

.DotView--leftOwnedByPlayer2 {
    border-left-color: var(--playerColor2);
}

.DotView--leftOwnedByPlayer3 {
    border-left-color: var(--playerColor3);
}

.DotView--leftOwnedByPlayer4 {
    border-left-color: var(--playerColor4);
}

.DotView-vertex {
    position: absolute;
    width: 12px;
    height: 12px;
    left: -10px;
    top: -10px;
    z-index: 100;
    border-radius: 50%;
    border-style: none;
    background-color: #c9cdd1;
}

.DotView-ownerContainer {
    margin: 7.5px;
    width: 25px;
    height: 25px;
}
