body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
.borderless > thead > tr > th,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > tbody > tr > td,
.borderless > tfoot > tr > td {
    border-top: none;
}
